.Pokemon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Pokemon div {
    width: 100px;
}
.pokemon-block .css-5lyxn4 {
    margin: 120px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.Loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 104.36px - 50.91px - 50px);
}
.pokemon-block {
    text-align: center;
    flex: 1 1;
    min-height: calc(100vh - 104.36px - 50.91px);
}
.pokemon-block ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.search{
    outline:none;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid red;
    box-shadow: none;
    color: black;
}
@media (max-width: 460px) {
    .pokemon-block ul {
        justify-content: center;

        margin-right: 0;
    }
    .pokemon-block .ant-pagination-prev {
        margin-right: 0;
    }
    .pokemon-block ul li {
        min-width: 0;
    }
    .pokemon-block .ant-pagination-item {
        margin-right: 0;
    }
    .pokemon-block .ant-pagination {
        margin-right: 0;
    }
}
